.left{
animation: slideIn 0.8s ease-out forwards; /* Load animation */
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.right{
animation: slideOut 0.8s ease-out forwards; /* Load animation */
}
@keyframes slideOut {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.shine{
  overflow: hidden;
}
 .shine::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: linear-gradient(
        to right,
        transparent 0%,
        rgba(255, 255, 255, 0.4) 50%,
        transparent 100%
      );
      animation: shine 8s infinite linear; 
      pointer-events: none; 
    }

    /* Shine animation */
    @keyframes shine {
      0% {
        transform:  translateX(-100%);
      }
      8% {
        transform:  translateX(100%);
      }
      100% {
        transform:  translateX(100%);
      }
    }
    
