/* <!-- loader section start --> */
.preloader-logo {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--theme);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #191654;
  z-index: 999999;
}
.first {
  stroke: var(--btn-g1);
  fill-opacity: 0;
  stroke-width: 20px;
  stroke-dasharray: 4500;
  animation: draw 6s ease;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
.brand-name {
  height: 30px;
  overflow: hidden;
}
.name {
  font-size: 30px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: bolder;
  line-height: 30px;
}
/* <!-- loader section end --> */
.full-height {
  min-height: 100vh;
}
